
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

body, html {
    margin: 0px;
    padding: 0px;
}
ul.home-section {
    display: block;
    list-style: none;
    margin: 0px;
    padding: 0px;

}

div.video-section1A{
    background-color: transparent;
    opacity: 1;
    width: 100%;
    height: 600px;
    overflow: hidden;

}

.video-container {
    position: relative;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: -20%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.75;
    overflow: hidden;
}

div.aboutus-section2A{
    background-color: #5ad9f0;
    opacity: 1;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

div.talents-section3A{
    background-color: white;
    opacity: 1;
    width: 100%;
    height: 600px;
    
}

div.social-media-section4A{
    background-color: #b9effa;
    opacity: 1;
    width: 100%;
    height: 600px;
    overflow: hidden;
}


h3 {
    margin: 0px;
    color: purple;
}

.Twitter {

    background: url(../images/spritesheet.png) no-repeat 0 -12px;
    width: 128px;
    height: 128px;
    background-position: -143px -143px;
    position: absolute;
}

.Youtube {

    background: url(../images/spritesheet.png) no-repeat 0 -19px;
    width: 128px;
    height: 128px;
    background-position: -281px -5px;
    position: absolute;
}

.Reddit {

    background: url(../images/spritesheet.png) no-repeat 0 0;
    width: 128px;
    height: 128px;
    background-position: -143px -5px;
    position: absolute;
}

.Facebook {

    background: url(../images/spritesheet.png) no-repeat -5px -5px;
    width: 128px;
    height: 128px;
    position: absolute;
}

.Fanclub {

    background: url(../images/spritesheet.png) no-repeat -5px -143px;
    width: 128px;
    height: 128px;
    position: absolute;
}

.image-links {
    text-align: center;

}
.image-sprites {
    display: inline-block;
    width: 960px;
}

.image-sprites > div {
    display: inline-block;
    position: relative;
    padding-right: 175px;
}

#Social-Title {
    color:  #00d9ff;
    text-align: center;
}

#Social-Text {
    text-align: center;
    padding: 0px 150px;
}

nav a:hover {
    transform: scale(1.3);
    transition-duration: 750ms;
}


.about-me-button {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    font-size: 20px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    background-color: transparent; 
    color: white;
    text-align: center;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
  }


.about-me-button:hover {
    width: 155px;
    height: 55px;
      
}

 #button-about {
    position: relative;
    top: -40%;
    left: 60%;
    }

#aboutus-text {
    position: relative;
    top: 30%;
    left: 44.5%;
    color: white;
    font-size: 50px;
}

.talents-button {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    border-style: none;
    font-size: 20px;
    background-color: #92d2de; 
    color: white;
    text-align: center;
    transition: 0.3s ease-in-out;
}
    
  #button-talents {
    position: relative;
    top: 65%;
    left: -25%;
  }


  .talents-button:hover {
    width: 155px;
    height: 55px;
    background-color: #a2f1ff;
  
  }

  #talent-text {
    position: relative;
    color: #00d1f5;
    font-size: 50px;
    top: 30%;
  }

  #logo-main {
    top: -20%;
    position: relative;
  }

  #logo-main img {
    width: 600px;
  }

  .talents-section3A div {
    float: right;

  }

.text-video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 35%;
    text-align: center;
    color: white;
    font-family: "Work Sans", sans-serif;

}



  
