.Twitter {

    background: url(../images/spritesheet.png) no-repeat 0 -12px;
    width: 128px;
    height: 128px;
    background-position: -143px -143px;
    position: absolute;
}

.Youtube {

    background: url(../images/spritesheet.png) no-repeat 0 -19px;
    width: 128px;
    height: 128px;
    background-position: -281px -5px;
    position: absolute;
}

/* <nav class="image-sprites">
  
  <div><a href="https://twitter.com/hololive_en" class="Twitter"></a></div>
  <div><a href="https://www.youtube.com/channel/UCJFZiqLMntJufDCHc6bQixg" class="Youtube"></a></div>

</nav> */