@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');




h1#site_info{
  font-family: "Work Sans", sans-serif;
  color: #323940;
  text-align: left;
  margin-left: 1.5em;

}

#about_us{

  color: #73ddef;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  
}

#disclaimer{

  font-size: 10px;
  color: rgb(255, 55, 55);
}

h1 b {

  font-size: 40px;
  font-weight: 400;
}

h1 p {

  font-size: 20px;
  font-weight: 200;
  margin-right: 20%;
}

body.Home {

  height: auto;
  background-image: url(../images/Hololive_Background_image.png);
  background-size: cover;                      
  background-repeat:no-repeat;
  background-position:top;


}

body.talent_page, body.about_us {
  
  background-image: url(../images/blueholo_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

 
li, a {

  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: black;
  text-decoration: none;


}

header {
    display: flex;
    justify-content: space-between;
    align-items: top center;
    padding: 15px ;
    
 }

 .logo {
    cursor: pointer;
    height: 100px;
    position: relative;
    left: -10px;
    top: -20px;

 }

 .nav-bar {
  list-style: none;

 }

 .nav-bar li {

  display: inline-block;
  padding: 0px 20px;
  margin: auto;

 }

 .nav-bar li a, th a {

  transition: all 0.3s ease 0s;

 }

 .nav-bar li a:hover, th a:hover {

  color: #73ddef;

 }

 img#Gen0 {

  
  border: 5px solid #73ddef;
  padding: 15px;
  width: 250px;
  height: 250px;
    
}
p.Talents {
  border: 5px solid #73ddef;
  padding: 15px;
  width: 250px;
  height: 500px;
  font-family: "Work Sans", sans-serif;
  color: #323940;

}

div.talents > div {

  display: inline-table;

}

div.talents {

  display: flex;
  justify-content: center;
  
}


#sora,#azki,#roboco,#miko,#suisei {

  margin: 10px;
  padding: 5px;
}

table {

  display: flex;
  justify-content: center;
  margin-right: auto;

}
th {
  
  border: black;
  border-style: solid;
  border-radius: 25px;
  width: 150px;
  
}

h2 {

  color: #fce100;
  font-weight: 500;
  font-size: 100px;
  text-align: center;
}

